form{
    border:2;
    

    
}
input:focus{
    border:  yellow;
    box-shadow: black;
}
  textarea:focus{
    border:  yellow;
    box-shadow: 10px 5px 5px black;
}
input:valid {
    border: green; 
}
  