form{
    border-color:2;
    

    
}
input:focus{
    background-color: yellow;
    box-shadow: 5px 5px 5px black;
}
  textarea:focus{
    background-color: yellow; 
    box-shadow: 10px 5px 5px black;
}
input:valid {
    background-color: green; 
}
  